#wapper-content
  %h1 User 
  %table.table.table-hover
    %thead
      %tr
        %th No.
        %th Name
        %th #
    %tbody
      %tr
        %td= user.id
        %td= user.name

  %hr

  = link_to 'Edit', edit_user_path(user), class: "btn btn-xl btn-success", style: "color: #fff"

