#wapper-content 
  
  - if current_user && current_user.admin
    .chart-home-1
      .chart-home-user-1
        %h3 New user register for the week
        -if @u != 0
          = area_chart @u, width: "100%", height: "250px", id: 'chart-12'
        - else
          %p This week no new subscribers
    .chart-home-borrow-book
      %h3 Members borrow books during the week

      #date-selector
        #datepicker.input-daterange.input-group
          %span.input-group-addon From
          %input.input-sm.form-control#datepicker1{:name => "start", :type => "text"}/
          %span.input-group-addon To
          %input.input-sm.form-control#datepicker2{:name => "end", :type => "text"}/
        %button.btn.btn-warning{:onclick => "get_datetime()"} Search 
      #chart-borrow
      -# = line_chart @br,colors: ["#b00", "#666"]
  - else
    %h2 List book
    = render 'book'

:javascript
  $(document).ready(function(){
    get_datetime();
  })