#wapper-content
  %h1 List book order
  - if @book_order.errors.any?
    #error_explanation
      %h2
        = pluralize(@book_order.errors.count, "error")
        Error:
      %ul
        - @book_order.errors.full_messages.each do |msg|
          %li= msg
  %table.table.table-hover
    %thead
      %tr
        %th No.
        %th Amount book
        %th Brorrow_date
        %th User Id
        %th User name
        %th Deposits
        %th #
    %tbody#book_orders
      = render @book_orders

  %hr

  %button.btn.btn-default{:type => "button", :onclick => "addNewBookOrder()"} Add New 
  #form-add
    = render 'form'
