#wapper-content
  %h1 Book list 
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th #
    %tbody#books
      = render @books

  %hr

  %button.btn.btn-default{:type => "button", :onclick => "addNew()"} Add New
  #form-add-new
    = render 'form'
