// Place all the styles related to the Book_cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#book_cards {
  .nested-fields {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    .field {
      display: flex;
      margin: auto 10px;
      align-items: center;
      width: 80%;

      label {
        margin-right: 5px;
        width: 12%;
      }
      input {
        margin-right: 15px;
        border-radius: 5px;
        padding: 4px 6px;
        width: 38%;
      }
    }
  }
}
a.remove_fields {
  color: #e93a29 !important;
  text-transform: capitalize;
  align-self: center;

  &:hover {
    color: #3c3d42;
    background: transparent;
  }
}
.links {
  margin: 20px 15px;

  a.add_fields {
    color: #f8a304 !important;
    text-transform: capitalize;
    &:hover {
      color: #3c3d42;
      background: transparent;
    }
  }
}
