// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all-book {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .card{
    width: 28% !important;
    height: auto;
    margin: 10px 20px;
    .card-body{
      .card-text{
        color: #888;
      }
    }
  }
}
.chart-home{
  display: flex;
  flex-direction: row;
}