-# = link_to 'Edit', edit_category_path(category), class: "btn btn-xl btn-success", style: "color: #fff"


- if current_user && current_user.admin
    = link_to 'Edit', edit_category_path(category), class: "btn btn-xl btn-success", style: "color: #fff"
