#wapper-content
  %h1 Category list 
  %table.table.table-hover
    %thead
      %tr
        %th No.
        %th Name
        %th #
    %tbody
      - @categories.each do |cate|
        %tr
          %td= cate.name
    

-# #wapper-content
-#   %h1 Listing categories
-#   %p.total
-#     -# Total category: #{@categories_grid.assets.total_count}
-#     %button.btn.btn-default{:type => "button", :onclick => "addFill()"} Fillter 
-#   #form-fill
-#     = datagrid_form_for @categories_grid, url: categories_path

-#   = datagrid_table(@categories_grid)
-#   = paginate @categories_grid.assets

-#   %br
-#   -if current_user && current_user.admin
-#     %button.btn.btn-default{:type => "button", :onclick => "addNew()"} Add New Category
-#     #form-add-new
-#       = render 'form'

