#side_bar
    %ul
        %li
            = link_to "Books Manager", books_path,class: "btn-sidebar"
        %li
            = link_to "Category Manager", categories_path
        %li
            = link_to "User Manager", users_path